h1{
	margin: 10vh 0 0 0;
}
h6{
	display: inline;
	margin: 0 0 0 50%;
}
h5{
	color: #0178bd;
}
h4{
	padding: 3vh ;
	margin: 1vh 1vh 0 0;
}
body{
	background: linear-gradient(to top left, #daf7fe, white );
}
img{
	margin: 1vh 1vh 0 0;
	display: inline;
}
.btn{
	margin: 1vh 1vh 0 0;
	padding: 1vh;
	color: white;
	background-color: #0178bd;
}
.btn:hover{
	background-color: white;
	color:  #0178bd;
	border-color: #0178bd;
}
.btn:focus{
	background-color: white;
	color:  #0178bd;
	border-color: #0178bd;
}
.result{
	padding: 3vh;
}
  