h2{
	padding: 5vh;
}
h3{
	padding:0 5vh 0 5vh;
	color: #0178bd;
}
h4{
	padding: 3vh ;
	margin: 1vh 1vh 0 0;
}
.btn{
	margin: 1vh 1vh 0 0;
	padding: 1vh;
	color: white;
	background-color: #0178bd;
}
.btn:hover{
	background-color: white;
	color:  #0178bd;
	border-color: #0178bd;
}
.btn:focus{
	background-color: white;
	color:  #0178bd;
	border-color: #0178bd;
}

.progress{
	visibility: hidden;
	background-color: #ffffff;
	border: 0;
	height: 18px;
	background: white;
}
progress {
	color: lightblue;
  }
  
  progress::-webkit-progress-value {
	background: lightblue;
  }
  
  progress::-moz-progress-bar {
	background: lightcolor;
  }
  
  progress::-webkit-progress-value {
	background: #0178bd;
  }
  